<ion-view>
    <ion-content>
        <div class="container" style="margin-top:33%">
          <div class="col-xs-12">
            <img src="../img/logo_mon_quotidien.png" alt="" width="250"/ style="margin-bottom:28%">
          </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-10 p_0">
                <div class="list list-inset m_0 p_0">
                    <p class="p_0 m_0 usr">Email utilisateur</p>
                    <label class="item item-input p_0">
                        <input type="text" id="emailadd" placeholder="">
                    </label>
                    <hr class="p_0">
                    <p class="p_0 m_0 usr">Mot de passe</p>
                    <label class="item item-input p_0">
                        <input type="password" id="passwordadd" placeholder="">
                    </label>
                    <hr class="p_0">
                    <p class="p_0 m_0 usr">Retaper votre mot de passe</p>
                    <label class="item item-input usr p_0 m_0">
                        <input type="password" id="passwordaddr" placeholder="">
                    </label>
                    <hr class="p_0">
                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>
        <div class="col-md-2 col-xs-1"></div>
        <div class="col-md-8 col-xs-10">
            <button class="button button-light button-block btb" ng-click="add_account()" script="width: 5%; text-align: center;">
                s'inscrire
            </button>
        </div>
        <div class="col-md-2 col-xs-1"></div>
        <div class="col-xs-12">
        <p class="usr" style="text-align:center;" ui-sref="log">VOUS AVEZ DEJA UN COMPE ? <span class="udl usr">CONNECTION</span></p>
        </div>
    </ion-content>
</ion-view>
