<ion-view view-title="Ajouter un enfant">
    <ion-nav-bar class="bnav">
        <ion-nav-buttons>
            <button class="button-clear lh" ng-click="log_out()"><i class="ion-log-out ic"></i></button>
        </ion-nav-buttons>
        <ion-content class="hh">
            <ion-list>
                <ion-item class="item mtb0" ng-repeat="project in projects track by $index" ng-click="open_project($index)">
                    <div style="margin-top:15px;padding: 0;text-align: center; background:#{{project.color}};" class="rounded pj col-xs-3 bi">
                        <p class="lt" style="margin-top:4px;">{{project.name.substring(0,1)}}</p>
                    </div>
                    <h1 style="margin-top:15px; font-size:25px; margin-bottom:0;" class="col-xs-9 mt">{{project.name}}</h1>

                    <hr class="p_0 col-xs-12" style="margin-bottom: 0;">
                </ion-item>
                <!--ion-item class="item" ng-click="add_proj()">
      <h2 class="pa">Ajouter un patient</h2>
    </ion-item-->
            </ion-list>
            <div class="col-xs-12" style="margin-top: 6%;opacity: 0.4;">
                <img class="" src="../img/more.png" width="50px" height="50px" ng-click="add_proj()">
            </div>
        </ion-content>
</ion-view>
