<ion-view>
    <ion-content>
        <div class="bg1">
            <img src="../img/logo-mq.png" class="imh">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" id="email" placeholder="email">
                </label>
                <label class="item item-input">
                    <input type="password" id="passwordo" placeholder="password">
                </label>
            </div>
            <div style="height: 20px">
                <p>{{err}}</p>
            </div>
            <div class="container ctb">
                <div class="col-xs-12 col-sm-12 p_0">
                    <button class="button button-light button-block bth1 m_0" ng-click="connect()">
                        se connecter
                    </button>
                </div>
                <div class="col-xs-12 col-sm-12 p_0 m_0">
                    <button class="button button-light button-block bth2 m_0" ui-sref="addaccount">
                        S'inscrire
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>