<ion-view>
    <ion-content>
        <div class="container" style="margin-top:33%">
          <div class="col-xs-12">
            <img src="../img/logo_mon_quotidien.png" alt="" width="250"/ style="margin-bottom:43%">
          </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-10 p_0">
                <div class="list list-inset m_0 p_0">
                	<p class="p_0 m_0 usr">Email utilisateur</p>
                    <label class="item item-input p_0">
                        <input type="text" id="email" placeholder="">
                    </label>
                    <hr class="p_0">
                	<p class="p_0 m_0 usr">Mot de passe</p>
                    <label class="item item-input p_0">
                        <input type="password" id="passwordo" placeholder="">
                    </label>
                    <hr class="p_0">
                    <label ng-show="fl == 1" class="item item-input">
                        <input type="password" id="passwordr" placeholder="retype password">
                    </label>

                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>
        <div class="col-md-2 col-xs-1"></div>
        <div class="col-md-8 col-xs-10">
            <button ng-show="fl == 0" nav-transition="none" class="button button-light button-block btb" ng-click="connect()" script="width: 5%; text-align: center;">
                se connecter
            </button>
            <button ng-show="fl == 1" class="button button-light button-block btb" ng-click="add_account()" script="width: 5%; text-align: center;">
                s'inscrire
            </button>
        </div>
        <div class="col-md-2 col-xs-1"></div>
        <div class="col-xs-12">
		<p class="usr" style="text-align:center;" ng-click="open_addaccount()">VOUS N'AVEZ PAS DE COMPTE ? <span class="udl usr">CREER UN COMPTE</span></p>
        </div>
    </ion-content>
</ion-view>
