<ion-view view-title="{{sel.categorie.title}}">
    <ion-nav-bar class="bnav">
     <ion-nav-buttons side="left">
      <button class="button" ng-click="go_back()">
    <img src="../img/arrowleft.png" height="20" width="20">
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button"
    ng-click="save_data()">
    <i style="font-size:24px;color: #50d2c2;" class="ion-checkmark"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">
    <img ng-src="{{protos[sel].categorie.logo}}" style="width: 120px; height: 120px">
    <h2 class="bnav" style="text-align: center;">
      {{protos[sel].categorie.title}} 
    </h2>
        <ion-list>
    <ion-item class="item  item-icon-left" ng-repeat="qa in protos[sel].qas track by $index" style="height: 100px">
        <h2 style="padding: 10px 0 10px 0;">{{qa.q}} : </h2>
    <div ng-if="qa.a.id==1">
          <ti-segmented-control on-select="sel_button_handler($index, current_data[$parent.$index])" style="width: 100%;">
        <ti-segmented-control-button class="button-royal" title="'Yes'" selected></ti-segmented-control-button>
        <ti-segmented-control-button class="button-royal" title="'No'"></ti-segmented-control-button>
        <ti-segmented-control-button class="button-royal" title="'accident'"></ti-segmented-control-button>
    </ti-segmented-control>
    </div>
    <div ng-if="qa.a.id==2">
      <i class="icon ion-image"></i>
          <p>take you're photo or select from the gallery</p>
     </div>
     <div ng-if="qa.a.id==3">
      <i class="icon ion-clock"></i>
             <div class="bu">
            <button class="button button-negative" ng-click="add_min(1, current_data[$parent.$index])">
                <i class="icon ion-plus-round"></i>
            </button>
            <!--move styling to css-->
            <input type="text" id="minutes_since" value="0 min" min="-1440" max="1440" style="display: inline-block; text-align: center;"/>
            <button class="button button-negative" ng-click="add_min(-1, current_data[$parent.$parent.$index])">
                <i class="icon ion-minus-round"></i>
            </button>
            </div>
     </div>
        <div ng-if="qa.a.id==4">
      <i class="icon ion-clipboard"></i>
        <label class="item item-input">
  <input type="text" placeholder="ecrivez une remarque" ng-model="current_data[$index].answer">
        </label>
</label>
     </div>
    <div ng-if="qa.a.id==5">
      <i class="icon ion-paintbrush" style="height 500px"></i>
          <p>dessinez la situation</p>
          <!-- signature_pad.min.js-->
          <canvas class="qa_canvas"></canvas>
          <button class="button-clear button-positive" ng-click="make_dessin()">Start</button>
          <button class="button-clear button-positive" ng-click="clear_dessin()">Clear</button>
     </div>
       <div ng-if="qa.a.id==6">
         <ti-segmented-control on-select="sel_button_handler($index, current_data[$parent.$index])" style="width: 100%;">
        <ti-segmented-control-button class="button-royal" title="'Yes'" selected></ti-segmented-control-button>
        <ti-segmented-control-button class="button-royal" title="'No'"></ti-segmented-control-button>
      </ti-segmented-control>
     </div>
       <div ng-if="qa.a.id==7">
           <label class="item item-select">
          <select name="mySelect" id="mySelect"
      ng-options="option.name for option in items_7 track by option.id"
      ng-model="current_data[$index].answer"></select>
        </label>
     </div>
     <div ng-if="qa.a.id==8">
               <label class="item item-input">
                   <input type="tel" placeholder="number" ng-model="current_data[$index].answer">
                   </label>
     </div>
    </ion-item>
  </ion-content>
</ion-view>
