<ion-view view-title="Liste des comportements">
    <ion-nav-bar class="bnav">
  <ion-nav-buttons side="left">
            <button style="opacity:0.5;" class="button" ng-click="go_choose()"><img src="../img/arrowleft.png" height="20" width="20"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button" ui-sref="categorie"><img src="../img/addmore.png" height="20" width="20"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item class="p_0 m_0" ng-repeat="proto in protos track by $index" type="item-text-wrap"  style="border-right: 3px solid #{{proto.color}} !important;" >
                <div class="container p_0">
                    <div class="col-xs-2 p_0 m_0" ng-click="open_sel($index)">
                        <img ng-src="{{proto.categorie.logo}}" class="pull-left" width="40">
                    </div>
                    <div class="col-xs-6 p_0 m_0" ng-click="open_sel($index)">
                        <h2 class="ctg">{{proto.categorie.title}} de {{project.name}}</h2> {{ proto.creation_time | date : 'dd/MM/yy' }}
                    </div>
                    <div class="col-xs-2" ng-click="open_chart($index)">
                        <img src="../img/chart_icon.png" width="33" style="margin-top: 10px;">
                    </div>
                </div>
                <ion-option-button class="button-balanced" ng-style="{'background-color':'#{{proto.color}}'}" ng-click="delete_fiche($index);">
                    <img src="../img/trashbin.png" width="25" style="margin-top:11px;">
                </ion-option-button>
            </ion-item>
            <!--ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/categorie">
        <img ng-src="https://cdn4.iconfinder.com/data/icons/media-buttons/512/add-128.png">
        <h2>create you're prototype</h2>
        <p>click here to create a new prototype</p>
      </ion-item-->
        </ion-list>
    </ion-content>
</ion-view>
