<ion-view view-title="Graphique">
<ion-nav-bar class="bnav">
  <ion-nav-buttons side="left"><button class="button" ng-click="go_back()"> <img src="../img/arrowleft.png" style="opacity:0.5;" height="20" width="20"></button></ion-nav-buttons>
</ion-nav-bar>
<ion-content>
<ion-list>
<div class="item item-divider">
Choisissez les données a correler : 
</div>
<div ng-repeat="fiche in protos track by $index">
<ion-item><div  ng-click="wanted[$index] = (wanted[$index] == 0) ? 1 : 0"><i ng-if="wanted[$index] == 0" class="ion-chevron-down"></i>
<i ng-if="wanted[$index] == 1" class="ion-chevron-up"></i>
{{fiche.categorie.title}}</div>
<div ng-show="wanted[$index] == 1">
<ion-checkbox class="item  item-icon-left" ng-repeat="qa in fiche.qas track by $index" ng-click="select_it($index, $parent.$index)">
données de : {{qa.q}}
</ion-checkbox>
</div>
</ion-item>
</div>
<p style="margin-left:20px;">
   {{nb_choose}} données séléctionnées.
</p>
<div class="item item-divider">
Choisissez le type de graphique
</div>
 <label class="item item-input item-select" style="height: 50px">
<select>
      <option selected>histogramme</option>
      <option>graphe a phase</option>
    </select>
</label>

<button class="button button-full button-positive" ng-click="see_correlation()">
  see correlation
</button>
</ion-list>
</ion-content>
</ion-view>
