<ion-tabs class="tabs-icon-top tabs-color-royal">

  <!-- Home Tab -->
  <ion-tab title="Questions" icon-on="ion-ios-help" icon-off="ion-ios-help-outline" ui-sref="home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  
  <!-- Chart Tab -->
  <ion-tab title="Graphiques" icon-on="ion-ios-analytics" icon-off="ion-ios-analytics-outline" ui-sref="tab.charts">
    <ion-nav-view name="tab-charts"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Paramètres" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
