/* Empty. Add your own CSS if you like */

@font-face {
    font-family: 'robotolight';
    src: url('roboto-light-webfont.woff2') format('woff2'),
         url('roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.background {}

img {
    display: block;
    margin: 0 auto;
    height: auto;
}

body {
    margin: 0;
    background: #000;
}


/* HOME LOGIN  */

.button {
    border-radius: none;
}

.stopfade {
    opacity: .5;
}

.br {
    background-color: transparent;
    font-size: 15px;
    color: white;
    margin-top: 20px;
}

.br > p {
    text-align: center;
    font-size: 20px;
}

.button.button-stable.button-outline.active,
.button.button-stable.button-outline.activated {
    background-color: transparent;
    border: 1px solid red;
    color: white;
}

.imh {
    padding-top: 42%;
}

.button.button-outline.ti-segmented-control {
    line-height: 35px !important;
    max-height: 35px !important;
    min-height: 12px !important;
}

.button.button-outline.ti-segmented-control:last-child {
    border-radius: none !important;
}

.p_0 {
    padding: 0 !important;
}

.m_0 {
    margin: 0 !important;
}

.bg1 {
    background: url(../img/bg1.png);
    background-size: auto 100%;
    background-position: center center;
    height: 100vh;
}

.ctb {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 !important;
}

.bth1 {
    background-color: #536DFE !important;
    color: white !important;
    width: 100% !important;
    padding: 0 !important;
    border-radius: none !important;
    border: none !important;
    text-transform: uppercase;
    text-shadow: 0px 1px 2px rgba(146, 146, 146, 0.5);
    height: 60px;
}

.bth2 {
    height: 60px;
    text-shadow: 0px 1px 2px rgba(146, 146, 146, 0.5);
    text-transform: uppercase;
    background-color: #304FFE !important;
    color: white !important;
    width: 100% !important;
    padding: 0 !important;
    border-radius: none !important;
    border: none !important;
}


/* NAVIGATION BAR */

.bnav {
    background-color: #fff;
    color: black;
    height: 60px;
    font-family: 'robotolight',sans-serif;
}

.lh {
    text-align: right;
    position: absolute;
    right: 5%;
    top: 15%;
    line-height: 47px !important;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* Internet Explorer */
    -moz-transform: rotate(-90deg);
    /* Firefox */
    -webkit-transform: rotate(-90deg);
    /* Safari et Chrome */
    -o-transform: rotate(-90deg);
    /* Opera */
}

.hh {
    top: 60px;
}

.ic {
    font-size: 27px;
    color: #50d2c2;
}

.pj {
    text-shadow: 0px 1px 2px rgba(146, 146, 146, 0.5);
    display: inline;
}

.pa {
    text-shadow: 0px 1px 2px rgba(146, 146, 146, 0.5);
}

.bi {
    /*background: url(../img/plusclair.png);*/
    border-radius: 150px;
    height: 32px;
    width: 32px !important;
}

.lt {
    /*position: absolute !important;
    top: 12% !important;*/
    color: white !important;
    font-size: 17px !important;
    text-transform: uppercase;
}
.mt {
  margin-top: 0;
  height: 43px;
}
.pls {
  width: 50px;
    z-index: 1000000000;
    position: absolute;
    top: 6%;
    height: 50px;
    left: 3%;
}
.item {
  border-color: transparent !important;
}

.btb {
    background-color: #50d2c2 !important;
    color:white !important;
}
.p_0 {
    padding: 0 !important;
}
.m_0 {
   margin: 0 !important;
}

.usr {
    color:#aaaaaa;
    font-size: 12px;
    font-family: 'robotolight', sans-serif;
}
.mt_50 {
    margin-top: 90%;
}
.input::-webkit-input-placeholder{
    font-family: 'robotolight', sans-serif;
}

textarea::-webkit-input-placeholder {
    font-family: 'robotolight', sans-serif;
}
hr {
    margin-top: 3px !important;
}
.udl {
    text-decoration: underline;
}
.popup {
    min-height: 40%;
    width: 90% !important;
    border-radius: 5px;
}
.popup input[type="text"] {
    border-bottom: 1px solid #50d2c2 !important;
}
.popup-container .popup {
    background-color: #fff !important;
}
.popup-buttons {
    padding-top: 15%;
}
.popup-body {
    margin-top: 15%;
}
.popup-title {
    color: #aaaaaa;
    font-size: 16px;
    font-family: 'robotolight', sans-serif;
}
.mtb0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.ctg {
    font-family: 'robotolight',sans-serif;
    font-size: 13px;
    text-transform: capitalize;
}